# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import warnings
warnings.filterwarnings('ignore')
from pprint import pprint
# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
# store the csv in weatherPy into a DF 
city_data = pd.read_csv("output_data/cities.csv")
city_data.head()

,City_ID,Unnamed: 0.1,Unnamed: 0,City,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,0,0,atambua,-9.1061,124.8925,78.24,60,48,2.48,ID,1661729705
1,1,1,1,mataura,-46.1927,168.8643,46.47,59,3,1.90,NZ,1661729707
2,2,2,2,barrow,71.2906,-156.7887,41.02,87,75,9.22,US,1661729710
3,3,3,3,pevek,69.7008,170.3133,41.95,74,7,4.00,RU,1661729712
4,4,4,4,urumqi,43.8010,87.6005,63.55,39,0,6.71,CN,1661729642

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
#configure gmaps 
gmaps.configure(api_key=g_key)

In [6]:
#heatmap of the humidity 
locations = city_data[["Latitude","Longitude"]]
humidity = city_data["Humidity"]
fig = gmaps.figure()

#add the heatmap layer to the figure 
heat_layer = gmaps.heatmap_layer(locations, weights = humidity, dissipating = False, max_intensity = 300, point_radius =5)
fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [9]:
idealWeather = city_data.loc[
    (city_data["Max Temp"] > 70) & (city_data["Max Temp"] < 80) & \
    (city_data["Wind Speed"] < 10) & \
    (city_data["Cloudiness"] == 0)
].dropna()

print(len(idealWeather))
idealWeather.head()

14

,City_ID,Unnamed: 0.1,Unnamed: 0,City,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
11,11,11,11,arraial do cabo,-22.9661,-42.0278,70.74,85,0,6.08,BR,1661729737
29,29,29,29,nador,35.1740,-2.9287,79.05,89,0,5.75,MA,1661729779
151,151,151,151,shetpe,44.1667,52.1167,76.84,20,0,5.84,KZ,1661730080
181,181,181,181,albacete,38.8333,-2.0000,73.18,60,0,9.22,ES,1661730157
190,190,190,190,krasnoslobodsk,48.7072,44.5714,71.42,37,0,8.95,RU,1661730179

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [10]:
hotel = idealWeather[["City", "Country", "Latitude", "Longitude"]]
hotel["Hotel Name"] = ""
hotel

                City Country  Latitude  Longitude Hotel Name
11   arraial do cabo      BR  -22.9661   -42.0278
29             nador      MA   35.1740    -2.9287
151           shetpe      KZ   44.1667    52.1167
181         albacete      ES   38.8333    -2.0000
190   krasnoslobodsk      RU   48.7072    44.5714
220        chlorakas      CY   34.8042    32.4083
339           niamey      NE   13.5137     2.1098
428         ano mera      GR   37.4500    25.4000
435            erzin      TR   36.9559    36.2000
466     saint-pierre      RE  -21.3393    55.4781
500           eresos      GR   39.1667    25.9333
507        caravelas      BR  -17.7125   -39.2481
523              mao      ES   39.8885     4.2658
533             sile      TR   41.1754    29.6133

In [11]:
# set parameters to search for a hotel 
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key
}

#loop through the dataframe using itterows()

for index, row in hotel.iterrows():
    
    lat = row["Latitude"]
    lon = row["Longitude"]
    
    #use lat and lon to set the location value in the params dictionaries
    params["location"] = f"{lat},{lon}"
    
    # url to search for places in google places api
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    #make request and print url 
    name_address = requests.get(base_url, params).json()
    
    #pprint(name_address)  
    #print ["result"][0]["name"]
    try:
        #populate the hotels name 
        hotel.loc[index, "Hotel Name"] = name_address['results'][0]['name']
    
    except:
        print(f"Error Finding lodging in {row['City']}. Skipping...")
        pass
hotel

Error Finding lodging in albacete. Skipping...

                City Country  Latitude  Longitude                  Hotel Name
11   arraial do cabo      BR  -22.9661   -42.0278         Pousada Porto Praia
29             nador      MA   35.1740    -2.9287            Hôtel La Giralda
151           shetpe      KZ   44.1667    52.1167          Rtsm Shetpe Analog
181         albacete      ES   38.8333    -2.0000
190   krasnoslobodsk      RU   48.7072    44.5714         Mini-hotel Na Allee
220        chlorakas      CY   34.8042    32.4083               Elysium Hotel
339           niamey      NE   13.5137     2.1098         Soluxe Hotel Niamey
428         ano mera      GR   37.4500    25.4000  Hotel La Résidence Mykonos
435            erzin      TR   36.9559    36.2000                Artemis Otel
466     saint-pierre      RE  -21.3393    55.4781                 Alize Plage
500           eresos      GR   39.1667    25.9333                 Studio Aspa
507        caravelas      BR  -17.7125   -39.2481      Pousada dos Navegantes
523              mao      ES   39.8885     4.2658                ARTIEM Capri
533             sile      TR   41.1754    29.6133              Phellos Suites

In [12]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel.iterrows()]
locations = hotel[["Latitude", "Longitude"]]

In [13]:
# Add marker layer ontop of heat map
marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig.add_layer(marker_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))